# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
django=1.10.4=py27_0
freetype=2.5.5=1
jbig=2.1=0
jpeg=8d=2
libpng=1.6.22=0
libtiff=4.0.6=2
openssl=1.0.2j=0
pillow=3.4.2=py27_0
pip=9.0.1=py27_1
python=2.7.13=0
readline=6.2=2
setuptools=27.2.0=py27_0
sqlite=3.13.0=0
tk=8.5.18=0
wheel=0.29.0=py27_0
xz=5.2.2=0
zlib=1.2.8=3
